<main class="main">
    <div class="card">
        <h1 class="h1">Adivina el número</h1>
        <form class="form">
            <label class="label" for="number">Introduce aquí tu número:</label>
            <input class="js-number box-play" type="text">
            <input class="js-button button" type="button" value="Prueba">
        </form>
        <p class="js-clue box-clue">Pista: Escribe un número y dale al botón 'prueba'</p>
        <p class="js-counter box-counter">Número de intentos: 0</p>

        <button class="btn-play-again js-btn-reset">Juega otra vez</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.9.3/tsparticles.confetti.bundle.min.js"></script>
</main>